[Match]
Name={{ iface.name }}

[BridgeVLAN]
{% for vlan in iface.allowed_vlans %}
VLAN={{ vlan }}
{% endfor %}

[Network]
{% if iface.description %}
Description={{ iface.description }}
{% endif %}
{% for address in iface.all_addresses %}
Address={{ address }}
{% endfor %}
{% if iface.dhcp %}
DHCP=yes
{% endif %}
{% if iface.ipv6 %}
IPv6SendRA=yes
DHCPPrefixDelegation=yes
IPv6AcceptRA=no
{% endif %}

{% for svi in iface.vlan_interfaces %}
VLAN={{ svi.name }}
{% endfor %}

ConfigureWithoutCarrier=yes

[Link]
RequiredForOnline=no
{% if iface.devgroup_number %}
Group={{ iface.devgroup_number }}
{% endif %}

{% if iface.ipv6 %}
[DHCPPrefixDelegation]
#UplinkInterface=pppoe
{% if iface.ipv6_subnet_id %}
SubnetId={{ iface.ipv6_subnet_id }}
{% endif %}
Announce=yes
{% endif %}
