[Match]
Name={{ svi.name }}

[Network]
{% if svi.description %}
Description={{ svi.description }}
{% endif %}
{% for address in svi.all_addresses %}
Address={{ address }}
{% endfor %}
{% if svi.dhcp %}
DHCP=yes
{% endif %}

ConfigureWithoutCarrier=yes

[Link]
RequiredForOnline=no
{% if svi.devgroup_number %}
Group={{ svi.devgroup_number }}
{% endif %}
