[Match]
Name={{ iface.name }}

[BridgeVLAN]
{% for vlan in iface.allowed_vlans %}
VLAN={{ vlan }}
{% endfor %}

[Network]
{% if iface.description %}
Description={{ iface.description }}
{% endif %}
{% for address in iface.all_addresses %}
Address={{ address }}
{% endfor %}
{% if iface.dhcp %}
DHCP=yes
{% endif %}

{% for svi in iface.vlan_interfaces %}
VLAN={{ svi.name }}
{% endfor %}

ConfigureWithoutCarrier=yes

[Link]
RequiredForOnline=no
{% if iface.devgroup_number %}
Group={{ iface.devgroup_number }}
{% endif %}
