[Unit]
Description=Setup router on system startup
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/gw system-startup
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
