[Match]
Name={{ iface.name }}

[Network]
{% if iface.description %}
Description={{ iface.description }}
{% endif %}
{% for address in iface.all_addresses %}
Address={{ address }}
{% endfor %}
{% if iface.dhcp %}
DHCP=yes
{% endif %}
{% if iface.ipv6 %}
IPv6SendRA=yes
DHCPv6PrefixDelegation=yes
{% endif %}


ConfigureWithoutCarrier=yes

[Link]
RequiredForOnline=no
{% if iface.devgroup_number %}
Group={{ iface.devgroup_number }}
{% endif %}
