[Match]
Name={{ iface.name }}

[Network]
{% if iface.description %}
Description={{ iface.description }}
{% endif %}
{% for address in iface.all_addresses %}
Address={{ address }}
{% endfor %}
# avoid remove pppoe ipv4 address
KeepConfiguration=static

{% if iface.enable_pd %}
DHCP=ipv6
DHCPPrefixDelegation=yes
{% endif %}

[DHCPv6]
UseHostname=no
UseDNS=no
UseNTP=no

[Link]
RequiredForOnline=no
{% if iface.devgroup_number %}
Group={{ iface.devgroup_number }}
{% endif %}

{% if iface.enable_pd %}
[DHCPPrefixDelegation]
UplinkInterface=:self
SubnetId=0
Announce=no
{% endif %}
